.App {
  text-align: center;
  padding: 40px;
  /* background-color: rgb(209, 209, 252); */
  /* background: url("https://res.cloudinary.com/de6bqimxp/image/upload/v1691600224/WhatsApp_Image_2023-08-09_at_10.17.09_PM_r3ybso.jpg");
  background-repeat: no-repeat;  */

  width: 100vw;
  height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: row;
}
.img{
  background-color: rgb(209, 209, 252); 
  width:100%;
  height:100%;
}

.con1{
  display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: right;
    align-items: right;
    margin-top: 50px;
    box-shadow: 10px;
    
    
}
.con2{
  display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 20px;

}

